/* ==============================================
   Variables
   ============================================== */

/* Global theme
   ============================================== */

:root {
	/* Background color */
	--notification-background-color: #ff0000;
	--button-background-color: #2F27CE;
	--button-secondary-background-color: #F5F5F5;

	/* Border color */
	--button-border-color: var(--button-background-color);
	--button-secondary-border-color: var(--button-secondary-background-color);

	/* Background hover color */
	--button-hover-background-color: var(--background-color);
	--button-secondary-hover-background-color: var(--background-color);

	/* Border hover color */
	--button-hover-border-color: var(--button-background-color);
	--button-secondary-hover-border-color: var(--button-secondary-background-color);

	/* Text color */
	--button-text-color: #ffffff;

	/* Text hover color */
	--button-text-hover-color: var(--text-color);
	--button-secondary-text-hover-color: var(--text-color);

	/* System */
	--border-radius: 9px;
}

/* Light theme
   ============================================== */

[data-theme="light"] {
	/* Background color */
	--background-color: #ffffff;
	--form-background-color: #8f8fca;

	/* Text color */
	--text-color: #000000;
	--button-secondary-text-color: #000000;
}

/* Dark theme
   ============================================== */

[data-theme="dark"] {
	/* Background color */
	--background-color: #1d1d1d;
	--form-background-color: #383852;

	/* Text color */
	--text-color: #ffffff;
	--button-secondary-text-color: #000000;
}

/* ==============================================
   Global
   ============================================== */

* {
	font-family: Arial, Helvetica, sans-serif;
	user-select: none;
}

body {
	margin: 0;
	color: var(--text-color);
	background-color: var(--background-color);
	transition: 200ms;
}

/* ==============================================
   Default HTML elements
   ============================================== */

p,
h1 {
	margin: 0;
}

h1 {
	margin-bottom: 10px;
}

/* Buttons
   ============================================== */

button:not(.theme_button),
.button {
	background-color: var(--button-background-color);
	border: solid 2px var(--button-border-color);
	padding: 5px 15px;
	border-radius: var(--border-radius);
	color: var(--button-text-color);
	transition: 200ms;
}

button:hover:not(.theme_button),
.button:hover {
	background-color: var(--button-hover-background-color);
	border: solid 2px var(--button-hover-border-color);
	color: var(--button-text-hover-color);
	transition: 200ms;
}

.button_secondary {
	background-color: var(--button-secondary-background-color);
	border-color: var(--button-secondary-border-color);
	color: var(--button-secondary-text-color);
}

.button_secondary:hover {
	background-color: var(--button-secondary-hover-background-color);
	border-color: var(--button-secondary-hover-border-color);
	color: var(--button-secondary-text-hover-color);
}

/* ==============================================
   Navbar
   ============================================== */

nav {
	display: flex;
	flex-direction: row;
	justify-content: end;
	padding: 20px;
	gap: 20px;
}

nav a {
	text-decoration: none;
	color: var(--text-color);
}

/* ==============================================
   Notifications
   ============================================== */

.no_script {
	background-color: var(--notification-background-color);
	border-radius: var(--border-radius);
	padding: 10px;
	width: fit-content;
}

.main_notification {
	background-color: var(--notification-background-color);
	width: 250px;
	max-height: 50px;
	padding: 10px;
	border-radius: var(--border-radius);
	position: fixed;
	top: 20px;
	right: 20px;
	text-align: center;
	z-index: 1000;
	overflow: hidden;
}

/* ==============================================
   Pages
   ============================================== */

/* Login/Register page
   ============================================== */

.login,
.register {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: fit-content;
	padding: 20px;
	background-color: var(--form-background-color);
	border-radius: var(--border-radius);
}
